@import url("../css/fontface.css");

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 17px;
}

body {
	margin: 0;
	--color-text: #fff;
	--color-bg: linear-gradient(132deg, rgba(88,44,216,1) 0%, rgba(0,0,0,1) 100%);
	--color-link: #fff;
	--color-link-hover: #fff;
	--color-description: #fff;
	--text-stroke: 1px black;
	--title-family: 'Agenda-Bold', Arial, sans-serif;
	--link-family: 'Open Sans', sans-serif;
	--body-family: 'Open Sans', sans-serif;
	color: var(--color-text);
	background: var(--color-bg);
	font-family: var(--title-family), sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	width: 100%;
	overflow: hidden;
	position: relative;
}

main div.frame__links {
	font-size: 32px;
}

main nav.frame__links {
	font-size: 1.25rem;
}


/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	font-family: var(--link-family);
	font-weight: 800;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	pointer-events: none;
	width: 0;
	height: 0;
	overflow: hidden;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
	text-transform: uppercase;
}

footer.frame {
	border-top: 1px solid #552ad0;
	margin-top: -7vh;
	z-index: 0;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.frame__heading {
	margin: 1rem 0;
	font-size: 1rem;
	font-weight: 400;
}

.frame__counter {
	margin: 2rem 0;
	align-items: baseline;
	text-align: center;
}

.frame__counter span {
	margin: 0 0.25rem;
}

.frame__counter-text:nth-child(2) {
	margin: 0 1.5rem 0 0;
}

.frame__counter-number {
	font-size: 200%;
	text-transform: none;
}

.intro {
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.intro__title {
	font-size: 19vw;
	margin: 0;
	font-weight: 400;
	line-height: 1;
}

.intro__showcase {
	display: flex; 
}

.intro__showcase-img {
	margin-right: -2rem;
	margin-top: -10px;
	z-index: 0;
}

.intro svg{
	width: 550px;
	z-index: 10;
}

.intro__hint {
	position: relative;
	text-transform: uppercase;
	margin: 8vh 0 0 0;
}

.intro__hint::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 2rem;
	top: calc(100% + 2rem);
	left: 50%;
	background: currentColor;
	animation-name: scroll-indicator;
	animation-duration: 2s;
	animation-iteration-count: infinite;;
}

.spacer {
	height:5px;
}

.grid-wrap {
	position: relative;
}

.grid {
	display: grid;
	position: relative;
	z-index: 100;
	grid-template-columns: repeat(auto-fit, minmax(200px, calc(390px + 3rem)));
	justify-content: center;
	grid-gap: 10vw;
	margin: 5rem auto;
}

.grid__item {
	padding: 1.5rem;
}

.grid__item-number {
	display: block;
	text-align: center;
	font-size: 3rem;
	line-height: 1;
}

.grid__item-img {
	max-width: 100%;
	width: 100%;
	display: block;
}

.img--flip {
	-webkit-transfrom: scaleX(-1);
	transform: scaleX(-1);

}

.grid__item-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
}

.grid__item-description {
	color: var(--color-description);
	font-family: var(--body-family);
	line-height: 1.5;
	padding-right: 1rem;
	margin-top: 0;
}

#roadmap .roadmap-items::before {
	content: "";
	background-color: #552ad0;
	width: 1px;
	height: 97%;
	position: absolute;
	margin-left: -20px;
	margin-top: 10px;
}

#roadmap svg {
	z-index: 0;
}

#roadmap text {
	fill: #2e1671;
}

#roadmap .roadmap-items {
	position: relative;
	z-index: 100;
}

#roadmap .roadmap-item::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #9aff5d;
	margin-left: -27px;
	margin-top: 10px;
}

.roadmap-item p {
	margin-top: 0;
}

.bigtext {
	display: block;
	width: 100%;
	max-width: calc(1025px - 3rem);
	margin: 25vh auto 0 auto;
}

.svgtext {
	flex: none;
	position: relative;
	left: -10%;
}

.svgtext text {
	fill: #fff;
	font-size: 42px;
	text-transform: uppercase;
}

.svgtext--1 text {
	fill: #552ad0;
}

.svgtext--2 text {
	fill: #8569c2;
}

.svgtext-wrap .svgtext{
	position: absolute;
}

.svgtext-wrap .svgtext:nth-child(2){
	margin-top: 20rem;
}
.svgtext--3 text {
	font-size: 32px;
	fill: #552ad0;
}

.svgtext--4 {
	position: relative;
}

.svgtext--4 text {
	font-size: 48px;
	fill: #552ad0;

}

#textpath-emoji {
	-moz-transform:    scaleX(-1); /* Gecko */
	-o-transform:      scaleX(-1); /* Opera */
	-webkit-transform: scaleX(-1); /* Webkit */
	transform:         scaleX(-1); /* Standard */
}

#end .grid__item:nth-child(2){
	margin-top: 0;
}

#end .grid {
	margin: 0;
}


@keyframes scroll-indicator {
	0% { top: 3rem; opacity: 0; }
	50% { opacity: 1; }
	100% { top: 6rem; opacity: 0; }
}


@media screen and (min-width: 53em) {
	.frame--screen {
		position: absolute;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2.25rem 2.5rem;
		pointer-events: none;
		grid-template-columns: 30% 40% 30%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'heading counter links''... ... ...''title title ...';
	}
	
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0 4rem 0 0;
	}
	.frame__counter {
		grid-area: counter;
		justify-self: center;
	}
	.frame__heading {
		margin: 0;
		grid-area: heading;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		padding: 0;
		justify-self: end;
	}
	.frame__links--header {
		justify-self: start;
		grid-area: heading-start;
	}
	.frame a {
		pointer-events: auto;
	}
	.frame__counter {
		display: flex;
		margin: 0;
	}
	.intro {
		min-height: 100vh;
	}
	.grid__item:nth-child(even) {
		margin-top: 35vh;
		text-align: right;
	}
	.grid__item:nth-child(even) .grid__item-description {
		padding: 0 0 0 1rem;
	}
	.grid__item-number {
		font-size: 4.75rem;
	}
}

@media screen and (max-width: 756px) {

	.intro svg{
		max-width: 75%;
	}

	.intro__showcase{
		justify-content: center;
	}

	.intro__showcase-img{
		display: none;
	}

	.intro .intro__hint::after {
		display: none;
	}

	.intro .svgtext {
		margin-top: 5rem;
	}

	main .frame__links:nth-child(2) {
		display: none;
	}

	.grid__item-img {
		max-width: 50%
	}
	
	.img--flip {
		-webkit-transfrom: scaleX(1);
		transform: scaleX(1);
	}

	.svgtext-wrap .svgtext:nth-child(2) {
		margin-top: 10rem;
	}

	svg text {
		font-size: 5rem!important;
	}

	#roadmap .bigtext {
		margin: 10vh auto 0 auto;
	}

	
	#roadmap svg {
		position: relative;
	}

	#roadmap text {
	fill: #552ad0;
	}

	#roadmap .roadmap-items::before {
		content: "";
		background-color: #552ad0;
		width: 1px;
		height: 97%;
		position: absolute;
		margin-left: -10px;
		margin-top: 10px;
	}

	#roadmap .roadmap-item::before {
		height: 10px;
		width: 10px;
		margin-left: -15px;
	}

	#end .grid__item {
		padding: 0;
	}

	#end .grid__item:nth-child(2) {
		display: none;
	}

	#end .svgtext {
		left: -10%;
	}
}